* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  color: white;
  font-family: sans-serif;
  outline: 1px, solid, red;
  /* could have the font upper case setting here but note the footer is in lower case and upper */
}

header {
  background-color: blue;
  display: inline-block;
}

.navcontainer {
  font-size: xx-small;
  position: absolute;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  /* shorthand for flex-direction and flex-wrap properties */
  justify-content: flex-start safe;
  /* Note that that browser support for these values is nuanced. For example, space-between never got support from some versions of Edge, and start/end/left/right aren’t in Chrome yet. MDN has detailed charts. The safest values are flex-start, flex-end, and center. */
  /* or center safe? */
  align-items: center safe;
  /* or stretch? safe */
  gap: 10px;
  /* gap, row-gap, column-gap. The gap property explicitly controls the space between flex items. It applies that spacing only between items not on the outer edges. The behavior could be thought of as a minimum gutter, as if the gutter is bigger somehow (because of something like justify-content: space-between;) then the gap will only take effect if that space would end up smaller. */
}

.h1logo {
  background-color: transparent;
  background-color: black;
  font-size: x-small;
  font-weight: bold;
  order: -5;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; */
  flex: 1 1 auto;
  /* flex is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional.It is recommended that you use this shorthand property rather than set the individual properties. The shorthand sets the other values intelligently. */
  /* align-self: "..."; */
  /* This allows the default alignment (or the one specified by align-items) to be overridden for individual flex items. */
}
.divcontainer1 {
  background-image: url(./topimage.png);
  display: flex;
}

.divbox {
  width: 100px;
  height: 100px;
  background-color: red;
}

.sectioncontainer {
  background-image: url(./middleimage.png);
  display: flex;
}

.sectionbox {
  width: 100px;
  height: 100px;
  background-color: red;
}

.divcontainer2 {
  background-image: url(./bottomimage.png);
  display: flex;
}
