* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  outline: 1px, solid, red;
}

header {
  background-color: blue;
}

h1 {
  background-color: aqua;
}

nav {
  background-color: slateblue;
}

nav-link {
  background-color: azure;
}

main {
  background-color: black;
}

section {
  background-color: aquamarine;
}

h2 {
  background-color: aqua;
}

h3 {
  background-color: aqua;
}

footer {
  background-color: blanchedalmond;
}
