/* this is a basic reset of default values */
/* - if you want to stop the browser from adding default values, we can have a reset at the top of the CSS stylesheet */
/* - margin values will overlap --> margin collapse*/
/* - padding values do not overlap */
/* - padding carries background colour and you can style it, margin is blank */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  /* everything within body will apply first and everywhere, then anything in other parts will be added on top */
  /* in this case, the aquamarine color is applied because it comes later in the rules that change the body tag. Background color isn't inherited (like passing down genes) */
  /* the style thingy e.g. "color" etc. that is lowest down in the script is applied as it comes later in the rules that change the body tag */
  /* if we select an element using the tag, all elements with the same tag will get the same style applied */
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  /* position: fixed; */
}

h1 {
  color: whitesmoke;
}

nav {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

.nav-link {
  text-decoration-line: underline;
}

main {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

.h2 {
  font-size: 32px;
  padding: 20px;
  position: absolute;
}

h3 {
  color: whitesmoke;
}
main {
  background-color: black;
}

button {
  color: black;
}

footer {
  background-color: black;
  position: absolute;
}

.box {
  background: #eee;
  padding: 20px;
}

.box {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
}

.second-box {
  background: #eee;
  padding: 20px;
  width: 100px;
  height: 100px;
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.image-container {
  background: #eee;
  height: 300px;
  width: 300px;
}
